@use '../App.scss';

.movie-info-wrapper{
  width: 100%;
  max-width: 800px;
  height: 100%;
  background-color: App.$ligthBackgroundColor;
  color: App.$textColor;
  display: flex;
  padding: 0 15px;
  
  .empty-text{
    font-size: 30px;
    color: App.$textColor;
  }

  .movie-texts{
    width: 60%;
    display: flex;
    flex-direction: column;
    padding-right: 15px;

    .movie-title{
      font-size: 40px;
      font-weight: 700;
      color: App.$whiteColor;
    }

    .movie-year{
      font-size: 16px;
      font-weight: 300;
      color: App.$whiteColor;
    }

    .movie-plot{
      font-size: 16px;
      font-weight: 400;
      color: App.$blackColor;
      text-align: justify;
      margin-top: 5px;
    }

    .infos-title{
      font-size: 25px;
      font-weight: 700;
      color: App.$whiteColor;
      margin-top: 20px;
    }

    .infos-text{
      font-size: 16px;
      font-weight: 500;
      margin-top: 5px;
      color: App.$blackColor;
    }
  }
  
  .movie-poster{
    width: 40%;
    border-radius: 18px;
    border: 2px solid App.$blackColor;
    box-shadow: 4px 4px 4px 0 rgba($color: #000000, $alpha: 0.25);

    .poster-image{
      width: 100%;
      object-fit: cover;
      border-radius: 15px;
    }
  }
}
