@use '../App.scss';

.title-wrapper {
  width: 100%;
  max-width: 800px;
  height: 100px;
  padding: 20px 0;
  background-color: App.$ligthBackgroundColor;
  justify-content: space-between;
  align-items: center;
  
  .title {
    font-size: 40px;
    font-weight: 700;
    color: App.$ligthColor;
  }

  .title-text {
    font-size: 16px;
    font-weight: 500;
    color: App.$textColor;
  }
}