$backgroundColor: #160F29;
$ligthBackgroundColor: #32818b;
$textColor: #1ac7be;
$ligthColor: #DDBEA8;
$whiteColor: #F5EAEA;
$blackColor: #303030;
$grayColor: #808080;

.page-container {
  height: 100vh;
}

.main-container {
  width: 100%;
  height: 100%;
  background-color: $ligthBackgroundColor;
  margin: auto;
}